/* ================================== */
/*               Global               */
/* ================================== */


* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;
  list-style-type: none;
}
body {
  background-color: #F5F1D5;
}
p {
  font-size: 20px;
  line-height: 35px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 28px;
}
/* hr {
  border-top: 3px solid #bcc906;
  color: linear-gradient(to right, #bcc906, #9198e5);
  background: linear-gradient(to right, #bcc906, #9198e5);
  border-color: linear-gradient(to right, #bcc906, #9198e5); 
  margin: 60px 0;
} */

/* ================================== */
/*            Herramientas            */
/* ================================== */



/* separator */
.separator-top{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #F5F1D5 ,#FF5800 30% 70%,#F5F1D5);
  margin-top: 5rem;
  margin-bottom: 2rem; 
}
.separator-bot{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #F5F1D5 ,#FF5800 30% 70%,#F5F1D5);
  margin-top: 2rem;
  margin-bottom: 5rem; 
}
/* Background */
.img-background-1{
  
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.4)), url(../img/hilos.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5F1D5;
  color: #F5F1D5;
  text-shadow: 2px 2px black;
}
/* bottons */
.button {
  display: inline-block;
  background-color: #F5F1D5;
  color: black;
  border: 2px solid #E8820C;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 20px;
  padding: 15px 30px;;
}
.button:hover {
  background-color: #E8820C; 
  color: white;
}

/* Text */
.text-start{text-align: start}
.text-end{text-align: end}
.text-justify{text-align: justify}

/* Font */
.w-300{font-weight: 300;}
.w-600{font-weight: 600;}
.w-900{font-weight: 900;}
.w-bold{font-weight: bold;}
.w-light{font-weight: lighter}
.lower{
  font-weight: 400;
  font-size: 15px;
}

/* max-size */


/* Containers*/
.contenedor {
  width: 85%;
  margin: 0 auto;
}

.mod-shadow-01{
  background-color: rgba(0, 0, 0, 0.1);
}
.mod-shadow-03{
  background-color: rgba(0, 0, 0, 0.3);
}
.mod-shadow-06{
  background-color: rgba(0, 0, 0, 0.6);
}
.mod-light{
  background-color: #E8820C;
}
/* img */
.img-cover-60vh-r{
  object-fit: cover;
  width: 100%;
  height: 60vh;
  filter: grayscale(20%);
  order: 1;
}

/* border */
.border-2-black{
  border: 2px solid black;
}
.border{
  box-shadow: 4px 4px 10px  rgb(194, 194, 194) ;
}


/* FlexBox */
.flex-col-r,
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.flex-row-r{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
/* Wrap */



/*Input*/
input[type='text'],input[type='email'],textarea{
  background-color: white;
  border: 1px solid grey;
  padding: 18px;
  margin: 2px;
}
::placeholder{
  color: black;
  font-weight: bolder;
}

/* responsive */
@media (min-width: 768px) {
  .img-cover-60vh-r{
      width: 40%;
      order: 0;
  }
  .flex-col-r{
    flex-direction: row;
  }
  .flex-row-r{
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .contenedor{
    width: 100%;
  }
}

/* ================================== */
/*              HEADER                */
/* ================================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #E8900C;
  width: 100%;
}
.header img{
  width: 120px;
}
@media (min-width: 768px) {
  .header{
    position: fixed;
    z-index: 100;
    top: 0;
  }
}
.header_titulo {
  color: #ffffff;
}

.menu {
  display: none;
  padding: 30px;
  background-color: #E8900C;
}

.header_barra a {
  display: inline-block;
  padding: 30px;
  color: black;
  font-size: 20px;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header_barra {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .menu {
    display: inline-block;
    border: none;
    font-size: 40px;
  }
  .menu:hover {
    background-color: #FF6A00;
    cursor: pointer;
  }
  .header_barra .desaparece {
    display: none;
  }
}
.header_barra a:hover {
  background-color: #FF6A00;
  color: #ffffff;
}



/* ================================== */
/*            PARALAX                 */
/* ================================== */
.paralax {
  min-height: 100vh;
  background: transparent;
}



/* ================================== */
/*                INDEX                */
/* ================================== */

.descripcion {
  text-align: center;
  color: black;
  letter-spacing: 2.2px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.descripcion span{
  font-weight: 700;
}
.descripcion h2 {
  margin-bottom: 30px;
}
.descripcion img {
  opacity: 0.6;
  margin-top: 20px;
}
.seccion_texto{
    width: 100%;
    padding: 0 10%;
}
.info{
  display: block;
  margin: auto auto;
  z-index: 2;
  position: relative;

}



/* ================================== */
/*  PRODUCTOS / DISEÑOS / CONTACTO    */
/* ================================== */

.producto{
  margin-top: 168px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;

}
@media (max-width: 768px) {
  .producto{
    margin-top: 0;
  }
}
.cont-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.cont-icons .icons{
  background-color: #E8820C;
  border-radius: 500px;
  padding: 30px;
  margin: 10px;
}
.icons img{
  height: 100px;
  width: 100px;
}

.producto h2{
  text-align: center;
}
.datos{
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}
.datos-info{
  justify-content: center;
  align-items: center;
  width: 90%;
}
.map{
  width: 90%;
  margin: 20px 0;
}
@media (min-width: 768px){
  .map{
    width: 40%;
  }
  .datos-info{
    width: 40%;
    height: 100%;
  }
}
.contacto,
.redes{
  padding: 10px;
}
.redes img{
  width: 100px;
  margin: 10px;
}
.form{
  padding: 30px 0;
}



/* ================================== */
/*            GALLERY                 */
/* ================================== */



.gallery-section{
  width: 100%;
  padding: 60px 0;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 10px;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}




/* ================================== */
/*            FOOTER                   */
/* ================================== */

.footer * {
  color: #ffffff;
}
.footer {
    margin-top: 5vh;
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: center;
    background-color: #E8900C;
}
.footer_redesSociales {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: row;
}
.footer_redesSociales img {
  width: 40px;
  background-color: white;
  border-radius: 500px;
}
.insta,.face
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}
.face{
  margin-right: 100px;
}
@media (max-width: 768px) {
  .face{
    margin-right: 0;
  }
}